Repository blish-hud/Blish-HUD, pull requests merged in 2020-11, with the labels that each got.

#334 Updated dependency handling.
  Blish HUD/GameServices/Modules/ModuleManager.cs
Labels: bug

#339 Prevent Blish HUD from crashing when TacO process is elevated.
  Blish HUD/GameServices/GameIntegration/TacOIntegration.cs
Labels: bug, gameservice

#335 Extend AudioIntegration
  Blish HUD/Content/Content.mgcb
  Blish HUD/Controls/Checkbox.cs
  Blish HUD/Controls/ColorBox.cs
  Blish HUD/Controls/CornerIcon.cs
  Blish HUD/Controls/GlowButton.cs
  Blish HUD/Controls/TabbedWindow.cs
  Blish HUD/Controls/WindowBase.cs
  Blish HUD/GameServices/Content/ZipArchiveReader.cs
  Blish HUD/GameServices/ContentService.cs
  Blish HUD/GameServices/DebugService.cs
  Blish HUD/GameServices/GameIntegration/AudioIntegration.cs
  Blish HUD/Strings/GameServices/OverlayService.Designer.cs
  Blish HUD/Strings/GameServices/OverlayService.resx
  Blish HUD/ref/audio/bundle-activated.wav
  Blish HUD/ref/audio/button-click.wav
  Blish HUD/ref/audio/color-change.wav
  Blish HUD/ref/audio/error.wav
  Blish HUD/ref/audio/inventory-move.wav
  Blish HUD/ref/audio/numeric-spinner.wav
  Blish HUD/ref/audio/open-skill-slot.wav
  Blish HUD/ref/audio/page-open-1.wav
  Blish HUD/ref/audio/page-open-2.wav
  Blish HUD/ref/audio/page-open-3.wav
  Blish HUD/ref/audio/select-skill.wav
  Blish HUD/ref/audio/tab-swap-1.wav
  Blish HUD/ref/audio/tab-swap-2.wav
  Blish HUD/ref/audio/tab-swap-3.wav
  Blish HUD/ref/audio/tab-swap-4.wav
  Blish HUD/ref/audio/tab-swap-5.wav
  Blish HUD/ref/audio/window-close.wav
Labels: breaking change, feature, gameservice
