Repository blish-hud/Blish-HUD, pull requests merged in 2020-08, with the labels that each got.

#290 Add PositionRaw
  .editorconfig
  Blish HUD/GameServices/Debug/OverlayStrings.cs
  Blish HUD/GameServices/DebugService.cs
  Blish HUD/GameServices/Input/Mouse/MouseHandler.cs
Labels: cleanup, feature, gameservice

#298 Improved effect management
  Blish HUD/Content/effects/marker.fx
  Blish HUD/Content/effects/trail.fx
  Blish HUD/Entities/Effects/EntityEffect.cs
  Blish HUD/Entities/Entity.cs
  Blish HUD/Entities/Primitives/Cuboid.cs
  Blish HUD/GameServices/Pathing/Behaviors/Mesh.cs
  Blish HUD/GameServices/Pathing/Behaviors/Tint.cs
  Blish HUD/GameServices/Pathing/Behaviors/Title.cs
  Blish HUD/GameServices/Pathing/Entities/Effects/MarkerEffect.cs
  Blish HUD/GameServices/Pathing/Entities/Effects/TrailEffect.cs
  Blish HUD/GameServices/Pathing/Entities/Marker.cs
  Blish HUD/GameServices/Pathing/Entities/ScrollingTrail.cs
  Blish HUD/GameServices/Pathing/Entities/ScrollingTrailSection.cs
  Blish HUD/GameServices/Pathing/Entities/Trail.cs
  Blish HUD/_Utils/ColorUtil.cs
Labels: Marker and Paths, cleanup

#294 WIP: Use Cubic Hermite Interpolation for paths
  Blish HUD/GameServices/Pathing/Entities/ScrollingTrailSection.cs
  Blish HUD/_Extensions/Vector3Extensions.cs
Labels: WIP

#301 Improve scrollbar functionality
  Blish HUD/Controls/Scrollbar.cs
Labels: UI
